@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font2-col);
    text-decoration: none;
    list-style: none;
}
body{
	background: var(--back-col);
  color: var(--text-col);
}
:root{
	--accent-col: #FFFFFF;
	--black-col: #171617;
	--back-col: #0f0f0f;
	--suc-col: #A7ED6F;
	--sec1-col: #272822;
	--error-col: #EF6E6F;
	--text-col: #FBFAFB;
	--dimtext-col: #7B7A7B;
	--prim1-col: #AF6EED;
	--prim2-col: #CCA4F5;
	--sec2-col: #FA569C;
	--font1-col: 'Space Grotesk', sans-serif;
	--font2-col: 'Ubuntu', sans-serif;
	--gradient-col: linear-gradient(to right top, #fa569c, #f057b1, #e15cc7, #cc64db, #af6eed);
	--borderRadiusBtn-col: 83% 0% 75% 0% / 59% 79% 55% 77% ;
}

/* designing the header */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 3rem;
    background: var(--back-col);
    display: flex;
    justify-content: space-between;
}
.nav-left{
  width: 12rem;
  display: flex;
  justify-content: space-around;
}
.nav-left h3{
  margin-top: .5rem;
  color: var(--text-col);
}
.nav-left h3 span{
  color: var(--suc-col);
}
.nav-middle{
  padding-top: .5rem;
}
.dropdown{
  padding: .5rem;
  width: 4rem;
  display: flex;
  transition: 200ms ease-in-out;
  position: relative;
}
.dropdown-menu{
  position: absolute;
  top: 3rem;
  right: 1rem;
  background: var(--back-col);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: .1rem solid var(--suc-col);
  width: 10rem;
  padding: 1rem;
  opacity: 0;
  color: var(--text-col);
  pointer-events: none;
  border-radius: .5rem;
  transform: translateY(-.5rem);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.dropdown.active > .profile, .profile:hover{
  color: #000;
}
.dropdown.active > .profile + .dropdown-menu{
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.dropdown .profile{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #171617;
  border: .1rem solid var(--suc-col);
  overflow: hidden;
}
.dropdown .profile .img{
  width: 1rem;
  height: 1rem;
}
.dropdown-contents{
  display: flex;
  flex-direction: column;
}
.dropdown-contents a{
  text-decoration: none;
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: var(--text-col);
}
.dropdown-contents a:hover, .dropdown-contents a:focus{
  color: var(--suc-col);
}
.dropdown-contents button{
  height: 2rem;
  background: var(--black-col);
  border-radius: .7rem;
  color: var(--text-col);
  font-size: 1rem;
  transition: 200ms ease-in-out;
}
.dropdown-contents button:hover{
  background: var(--error-col);
  color: var(--back-col);
}
.hamburger-btn {
    width: 2.5rem;
    height: 2.5rem;
    background: url(assets/icons8-side-pane-96.png);
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-left: .5rem;
  }
  
/* designing the header ends here */
/* designing the main section */
main{
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);
    background: var(--back-col);
    display: flex;
    justify-content: space-between;
}
/* side bar designing */
.sidebar {
    position: fixed;
    top: 3rem;
    bottom: 0;
    left: -17.3rem;
    width: 18rem;
    z-index: 1;
    background: var(--back-col);
    transition: 300ms ease-in-out;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: 300ms;
  }
  .sidebar.is-active {
    left: 0;
  }

  .sidbar-slider{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--suc-col);
    width: 3%;
    height: 10%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
  }
  .sidebar-content {
    width: 97%;
    height: 100%;
    padding: 0 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
  }
  .sidebar-content input{
    outline: none;
    height: 2rem;
    border: none;
    padding: 0 1rem;
    background: #7B7A7B;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 2rem;
  }
  .sidebar-content input::placeholder{
    color: #000;
  }
  .sidebar.is-active + .contents{
    width: calc(100% - 17rem);
}
  
/* side bar desiggning ends here */

/* designing the content section */
.contents{
    position: absolute;
    top: 3rem;
    right: 0;
    width: 100%;
    height: 100%;
    padding-left: .5rem;
    background: var(--back-col);
    transition: 300ms ease-in-out;
    display: flex;
    flex-direction: column;
}
.contents .code{
  width: 100%;
  height: 100%;
}
.contents .code .fing{
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  display: block;
}
.contents .code .cont{
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: .1rem solid var(--suc-col);
  padding: 0;
  overflow: hidden;
}

/* code editor part */
.contents .code .cod1 .functions{
  width: 100%;
  height: 2rem;
  display: flex;
  background: var(--back-col);
  justify-content: space-between;
  padding: 0 1rem;
  /* border-bottom: .1rem solid var(--suc-col); */ 
  /* optional */
}
.contents .code .cod2{
  /* background: #57a958; */
  padding: .5rem;
}
.contents .code .cod1{
  /* background: #e48d0a; */
  padding: .5rem;
}


.control-panel {
  text-align: left;
  padding: 4px;
  font-family: sans-serif;
}

.languages {
  background: var(--black-col);
  border: 1px solid var(--suc-col);
  border-radius: .5rem;
  color: var(--text-col);
}

#editor { 
  height: 100%;
  width: 100%;
  font-size: 1vw;
  color: var(--text-col);
}

.btn {
  background: var(--sec1-col);
  color: white;
  padding: 8px;
  width: 4rem;
  height: 1.5rem;
  padding-bottom: .5rem;
  padding-top: 0;
  margin-top: .2rem;
  border-radius: .5rem;
  border: .1rem solid var(--suc-col);
}
.btn:focus{
  background: var(--suc-col);
  color: var(--sec1-col);
}
.btn img{
  width: 1rem;
}

.cont2 {
      background:  gray;
      height: 100%;
      width: 100%;
      display: block;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      border: .1rem solid var(--suc-col);
      overflow: hidden;
    }
    .cont2 .functions{
      width: 100%;
      height: 2rem;
      background: var(--back-col);
    }
.cont2 .output {
  height: calc(100% - 2rem);
  width: 100%;
  background: var(--sec1-col);
}
.codeArea{
  height: calc(100% - 2rem);
  width: 100%;
  overflow: hidden;
}
/* code editor ends here */

/* designing the content section ends here */

/* designing the main section ends here */

/* media queries */
@media (width <= 400px){
  .nav-right h3{
    display: none;
  }
  .hamburger-btn{
    margin-right: .5rem;
    margin-top: .5rem;
    width: 2rem;
    height: 2rem;
    }
    .nav-left{
      width: 9rem;
    }
}

/* sidbar transition */
    
@media (width <= 400px){
  .sidbar-slider{
    display: inline;
  }
  .sidebar-content a{
    font-size: 1rem;
  }
}

@media (width <= 750px){
  .sidebar.is-active + .contents{
      width: 100%;
      z-index: -1;
  }
  .sidebar.is-active + .sidebar{
      z-index: 10;
  }
}


@media (width <= 770px) {
  .contents .code .fing {
    float:none;
    width: 100%;
    height: 50%;
    display: block;
  }
}

